# Shopify
SHOPIFY_API_KEY=44c3d749bf3178e865af09d88eb2d91f
SHOPIFY_API_SECRET=

# Database
DATABASE_URL="postgresql://packbridge:packbridge@localhost:5432/packbridge_dev"

# App
APP_URL=https://YOUR-DO-APP-URL.ondigitalocean.app
